@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NimbusSansL";
  src: url("../public/font/NimbusSanL-Reg.otf");
}

.font-NimbusSansL {
  font-family: NimbusSansL, sans-serif;
}
